<!--<div class="top">
	<div class="columns">
		<div class="column is-full featured_wrapper p-0">
			<img src="\assets\Images\image.webp" class="featured img fluid">
			<div class="title_wrapper">
				<h1 class="title text-center">The Untold Story of the great Lorem Ipsum</h1>
				<button class="button is-medium">Watch It Now</button>
			</div>
		</div>
	</div>
</div>-->
<div class="header">
    <section class="headerb d-flex flex-column align-items-center justify-content-center">
        <div class="bg-5 text-center">
          <h1 class="animated-shadow">Movie App</h1>
          <button routerLink="/watchList" class="button is-medium">See your list!</button>
        </div>
      </section>
</div>
<div id="cards_landscape_wrap-2" >
<div class="container">
<div class="grid">
        <app-movie-card 
        *ngFor="let movie of arrayMovies"
        [movie]="movie"></app-movie-card>
</div>
</div>
</div>