<div class="header">
    <section class="headerb d-flex flex-column align-items-center justify-content-center">
        <div class="bg-5 text-center">
          <h1 class="animated-shadow">Movie App</h1>
          <button routerLink="/watchList" class="button is-medium">See your list!</button>
        </div>
        <div class="sortButtons">
          <button (click)="sortList('default')">Default</button>
          <button (click)="sortList('titleAsc')">Title Asc</button>
          <button (click)="sortList('titleDesc')">Title Desc</button>
          <button (click)="sortList('dateAsc')">Date Asc</button>
          <button (click)="sortList('dateDesc')">Date Desc</button>
        </div>
      </section>
</div>
<div id="cards_landscape_wrap-2" >
<div class="container">
<div class="grid">
        <app-movie-card 
        *ngFor="let movie of arrayMovies"
        [movie]="movie"></app-movie-card>
</div>
</div>
</div>