<div class="card">
    <img src="{{ movie.image }}" alt="{{ movie.title }}" routerLink="/detail/{{ movie.id }}">
    <div class="descriptions">
      <h1>{{ movie.title }}</h1>
      <p>{{ movie.description }}</p>
      <p>Rating: <i class="fa-solid fa-star" style="color: darkgoldenrod;"></i> {{ movie.rating }}</p>
      <p>Duration: {{ movie.duration }}</p>
      <button (click)="onAddToList()" [disabled]="isInWatchlist()">
        <i class="fa-solid fa-plus"></i>
        {{ isInWatchlist() ? 'On List' : 'Add to Watch List' }}
      </button>
      <button routerLink="/detail/{{ movie.id }}">
        <i class="fa-solid fa-eye"></i>
        See Detail
      </button>
    </div>
  </div>
  