.main_card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	min-height: 67.4vh;
	background-color: rgb(3, 5, 69);
  }
  
  .message-container {
	text-align: center;
	padding: 20px;
	margin-top: 5%;
	border-radius: 10px;
	color: #fff;
  }
  
  a {
	color: rgb(52, 58, 64);
  }
  
  .main_card {
	display: flex;
	color: #fff;
	width: 60vw;
	margin: 3%;
	aspect-ratio: 1 / 0.35;
	display: -webkit-box;
	display: -ms-flexbox;
	background: linear-gradient(to right, darkgoldenrod, rgb(52, 58, 64));
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
	font-family: 'Play', sans-serif;
  }
  
  .card_left {
	width: 90%;
	overflow: hidden;
	height: 100%;
  }
  
  .card_datails h1 {
	font-size: 4vh;
	margin: 2%;
  }
  
  .card_right img {
	width: 15vw;
	aspect-ratio: 1 / 1.38;
	padding: 2%;
  }
  
  .card_right {
	border-radius: 2px;
  }
  
  .social-btn {
	display: flex;
	width: 100%;
  }
  
  .social-btn button {
	background-color: rgb(52, 58, 64);
	font-size: 1.8vh;
	min-width: 14.5vw;
  }
  
  button {
	color: #fff;
	border: none;
	outline: none;
	font-size: 1.5vh;
	margin-top: 6%;
	margin-left: 10px;
	background: darkgoldenrod;
	border-radius: 12px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	transition: 200ms ease-in-out;
  }
  
  button:hover {
	transform: scale(1.1);
  }
  
  @keyframes bounce {
	8% {
	  transform: scale(0.3);
	  opacity: 1;
	}
	10% {
	  transform: scale(1.8);
	  opacity: 0;
	}
  }
  
  @media only screen and (max-width: 1050px) {
	.main_card-container {
	  padding-bottom: 10%;
	}
	.card_left {
	  display: none;
	}
	.card_right {
	  width: 100%;
	}
  
	.main_card {
	  width: 50vw;
	  aspect-ratio: 1 / 1.35;
	  background: transparent;
	  margin: 12%;
	}
  
	.card_right img {
	  width: 100%;
	  aspect-ratio: 1 / 1.54;
	  padding: 0%;
	}
	.social-btn {
	  align-items: center;
	  justify-content: center;
	}
  
	.social-btn button {
	  width: 100%;
	}
  }
  