.main_card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	min-height: 67.4vh;
	background-color: rgb(3, 5, 69); 
  }

  .message-container {
	text-align: center;
	padding: 20px;
	margin-top: 5%;
	border-radius: 10px;
	color: #fff;
  }

  a{
	color:rgb(52, 58, 64) ;
  }

.main_card {
	display: flex;
	color: #fff;
	width: 60vw;
	margin: 3%;
	aspect-ratio: 1/.35;
	display: -webkit-box;
	display: -ms-flexbox;
	background: rgb(3, 5, 69); 
	background: -webkit-linear-gradient(to right, darkgoldenrod, rgb(52, 58, 64));
	background: -webkit-gradient(linear, left top, right top, from(darkgoldenrod), to(rgb(52, 58, 64)));
	background: -webkit-linear-gradient(left, darkgoldenrod, rgb(52, 58, 64));
	background: -o-linear-gradient(left, darkgoldenrod, rgb(52, 58, 64));
	background: linear-gradient(to right, darkgoldenrod, rgb(52, 58, 64)); 
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
	box-shadow: 0 0 40px rgba(0,0,0,0.3);
	font-family: 'Play', sans-serif;
}

.card_left {
	width: 90%;
	overflow: hidden;
	height: 100%;
}

.card_datails  h1 {
	font-size: 4vh;
	margin: 2%;
	
}
.card_right img {
	width: 15vw;
	aspect-ratio: 1/1.38;
	padding: 2%;
}
.card_right {
	border-radius: 2px;
}
.social-btn {
	display: flex;
  }
.social-btn  button{
	background-color: rgb(52, 58, 64);
	font-size: 1.8vh;
	width: 14.5vw;
	
}
button {
	color: #fff;
	border: none;
	outline: none;
	font-size: 1.5vh;
	margin-top: 5%;
	margin-left: 10px;
	background: darkgoldenrod;
	border-radius: 12px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	        box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-transition: 300ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
}

button:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

@-webkit-keyframes bounce {
  8% {
    transform: scale(0.3);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  10% {
    transform: scale(1.8);
    -webkit-transform: scale2;
    opacity: 0;
		}
}

@keyframes bounce {
  8% {
    transform: scale(0.3);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  20% {
    transform: scale(1.8);
    -webkit-transform: scale2;
    opacity: 0;
		}
}

@media only screen and (max-width: 1050px) {
	.main_card-container {
		padding-bottom: 10%;
	}
    .card_left{
		display: none;
	}
	.card_right{
		width: 100%;
	}
	
	  .main_card {
		width: 50vw;
		aspect-ratio: 1/1.35;
		background: transparent;
		margin: 10%;
	  }
	
	  .card_right img {
		width: 100%; 
		aspect-ratio: 1/1.54;
		padding: 0%;
	  }
	
	  .social-btn button {
		width: 100%; 
	  }
  }
